{{!-- The following component displays Ember's default welcome message. --}}
{{!--{{welcome-page}}--}}
{{!-- Feel free to remove this! --}}
<h1 class="text-blue">Ember League Table - Tutorial</h1>
{{game-simulator}}
{{game-results}}
{{league-table}}
<GameResults @games={{this.game-simulator.games}}/>
